
<script type="text/javascript">
  document.getElementById("download_tab").className = "active";
</script>

<h3>Results</h3>
Surface-critical dataset: <a href="/datasets/surface_critical_dataset.txt" download>Download</a><br>
Interior-critical dataset: <a href="/datasets/interior_critical_dataset.txt" download>Download</a><br>

<p><i>These results constitute surface- and interior-critical hotspots identified within a large collection of proteins that have been shown to exhibit clearly distinct conformations. These distinct conformations are evidenced by clustering sequence-identical structures throughout the PDB. Please see our <a href="/citing">publication</a> for details.</i></p>

<h3>Source Code</h3>
Source code for the surface-critical and interior-critical modules can be found on our <a href="https://github.com/gersteinlab/STRESS" target="_blank">Github page</a>.<br>

Source code for the web server can be downloaded seperately <a href="#" target="_blank">here</a>.<br>

