packages:
  yum:
    glibc.i686: []
commands:
  00_download_conda:
    command: 'wget https://3230d63b5fc54e62148e-c95ac804525aac4b6dba79b00b39d1d3.ssl.cf1.rackcdn.com/Anaconda-2.2.0-Linux-x86_64.sh'
    test: test ! -d /anaconda
  01_install_conda:
    command: 'bash Anaconda-2.2.0-Linux-x86_64.sh -b -f -p /anaconda'
    test: test ! -d /anaconda
  02_install_numpy_libnetcdf_netcdf4:
    command: '/anaconda/bin/conda install numpy=1.8.2 libnetcdf netcdf4'
  03_download_scientific:
    command: 'wget https://sourcesup.renater.fr/frs/download.php/file/4411/ScientificPython-2.8.1.tar.gz'
    test: test ! -d /ScientificPython-2.8.1
  04_unpack_scientific:
    command: 'tar xzf ScientificPython-2.8.1.tar.gz'
    test: test ! -d /ScientificPython-2.8.1
  05_build_and_install_scientific:
    command: '(export NETCDF_PREFIX=/anaconda ; cd ScientificPython-2.8.1 ; /anaconda/bin/python setup.py build ; /anaconda/bin/python setup.py install)'
    test: test ! -d /anaconda/lib/python2.7/site-packages/Scientific
  06_download_mmtk:
    command: 'wget https://sourcesup.renater.fr/frs/download.php/file/2716/MMTK-2.6.1.tar.gz'
    test: test ! -d /MMTK-2.6.1
  07_unpack_mmtk:
    command: 'tar xzf MMTK-2.6.1.tar.gz'
    test: test ! -d /MMTK-2.6.1
  08_build_and_install_mmtk:
    command: '(cd MMTK-2.6.1 ; /anaconda/bin/python setup.py build ; /anaconda/bin/python setup.py install)'
    test: test ! -d /anaconda/lib/python2.7/site-packages/MMTK